In [1]:
import pandas as pd

In [2]:
Saleries = pd.read_csv('C:/Users/sever/Desktop/JennsSchool/FinalProject/Week1/Datasets/data_cleaned_2021.csv')
Saleries.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,...,0,0,1,1,0,0,0,data scientist,na,M
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,...,0,0,0,0,0,0,0,data scientist,na,M
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,...,0,0,0,0,0,0,0,data scientist,na,M
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,...,0,0,0,0,0,0,0,data scientist,na,na
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,...,0,0,0,0,0,0,0,data scientist,na,na

In [3]:
Saleries.drop(['Salary Estimate', 'Job Description', 'Headquarters', 'Size', 'Founded', 'Revenue', 'Competitors', 'Hourly', 'Employer provided', 'company_txt', 'Age', 'job_title_sim', 'seniority_by_title'], axis= 1, inplace= True)

In [4]:
Saleries.head()

,index,Job Title,Rating,Company Name,Location,Type of ownership,Industry,Sector,Lower Salary,Upper Salary,...,pytorch,scikit,tensor,hadoop,tableau,bi,flink,mongo,google_an,Degree
0,0,Data Scientist,3.8,Tecolote Research\n3.8,"Albuquerque, NM",Company - Private,Aerospace & Defense,Aerospace & Defense,53,91,...,0,0,0,0,1,1,0,0,0,M
1,1,Healthcare Data Scientist,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD",Other Organization,Health Care Services & Hospitals,Health Care,63,112,...,0,0,0,0,0,0,0,0,0,M
2,2,Data Scientist,4.8,KnowBe4\n4.8,"Clearwater, FL",Company - Private,Security Services,Business Services,80,90,...,0,0,0,0,0,0,0,0,0,M
3,3,Data Scientist,3.8,PNNL\n3.8,"Richland, WA",Government,Energy,"Oil, Gas, Energy & Utilities",56,97,...,0,0,0,0,0,0,0,0,0,na
4,4,Data Scientist,2.9,Affinity Solutions\n2.9,"New York, NY",Company - Private,Advertising & Marketing,Business Services,86,143,...,0,0,0,0,0,0,0,0,0,na